<p id="notice"><%= notice %></p>

<h1 class="<%= @article.my_class %>">
  <strong>Name:</strong>
  <%#= @article.emphatic %> <%= @article.name %>
</h1>

<p class="<%= @article.my_class %>">
  <strong>Content:</strong>
  <%= @article.bolded_content %>
</p>

<p class="<%= @article.green%>" >
  <strong>Published at:</strong>
  <%= @article.publication_status %>
  <%#= @article.published_at %>
</p>

<p style="<%= @article.with_style %>">
  <strong>Published:</strong>
  <%= @article.published %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
